// Цвета
$blue: #3389ff;
$blue-75: #3388ffc6;
$blue-50: #3388ff7a;
$blue-25: #3388ff54;
$white: #fff;
$white-50: #ffffff88;
$white-bg: #ffffffcf;
$bg: #171717;
$black: #171717db;

// Шрифты
$font: "Montserrat Alternates", sans-serif;
$font-size-base: 16px;

// margins
$mg-block-max: 10rem; 
$mg-block-min: 6rem;
$pd-block: 4rem;
$mg-el: 3rem;