@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: "Montserrat Alternates";
    src: url('/fonts/MontserratAlternates-Black.ttf') format('truetype');
    font-weight: 900;
}


// reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
    font-size: 1rem;
    font-family: "Montserrat Alternates";
    line-height: 1.5;
    border:none;
    outline: none;
}
body {
    background-color: #171717;
    position: relative;
    font-family: "Montserrat Alternates";
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    list-style-type: none; 
}
  
a {
    text-decoration: none;
    color: inherit; 
    &:hover {
        text-decoration: none;
    }
}
button {
    cursor: pointer;
    border: none;
}

// main elements
#root {
    width: 100%;
    min-height: 100dvh;
}

.main {
    padding-top: 100px;
    min-height: 90dvh;
}
